<footer>
    <div class="f-info">
        <div class="f-left">
            <ul> 
            <li><a>2025 Airbnb, Inc. </a><span><i class="fa-solid fa-circle"></i></span></li>
            <li><a>Privacy </a><span><i class="fa-solid fa-circle"></i></span></li>
            <li><a>Terms</a> <span><i class="fa-solid fa-circle"></i></span></li>
            <li><a>Details</a></li>
            </ul>
        </div>
        <div class="f-right">
            <ul>
            <li>English (IN)</li>
            <li><span><i class="fa-solid fa-indian-rupee-sign"></i></span>INR</li>
            <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a><i class="fa-brands fa-square-twitter"></i></a></li>
            </ul>
        </div>

    </div>
</footer>