<%- layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-6 offset-3">
    <h3 class="col-6 offset-5 mb-3">Sign up!</h3>
    <form
      action="/signup"
      method="post"
      class="form needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          id="username"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Fill again</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Id</label>
        <input
          type="email"
          name="email"
          class="form-control"
          required
          id="email"
        />
        <div class="invalid-feedback">Invalid Email</div>

      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          required
          id="password"
        />
      </div>
      <button class="btn btn-dark btn-sm col-4 offset-4">Sign Up</button>
    </form>
  </div>
</div>
